*,
:after,
:before {
  box-sizing: border-box;
}

/* Create color variables */
:root {
  --primary: #f6ae2d;
  --secondary: #f26419;
  --secondary-light: #f4aa5b;
  --white: #fff;
}

.header-container {
  color: #05299e;
  background-image: linear-gradient(#f265197c, #f6ae2d);
  /* text-align: center; */
  /* background-color: rgba(240, 255, 255, 0.495); */
  /* margin: 0 auto; */

  font-family: "heart";

  font-size: 25px;
  margin: auto;
  width: 65%;
  border: 3px solid #2f4858;
  padding: 10px;
}

.results {
  margin: auto;
  width: 80%;
  border: 3px solid #2f4858;
  padding: 10px;
  background-color: #f6b02de2;
  text-align: center;
  color: rgb(4, 40, 72);
  font-family: 'Quicksand', sans-serif;
}

body {
  background-image: url("https://cdn5.vectorstock.com/i/1000x1000/39/79/pop-art-fast-food-concept-vector-18633979.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: auto;
  list-style: none;
  border-bottom: 3px solid red;
}


.button,
.random {
  background-color: #33658a;
  /* border: 0; */
  color: var(--white);

  font-size: 1.2rem;
  line-height: 1;
  padding: 0.75rem 1rem;
  border-radius: 50%;
}

.bar {
  background-color: var(--secondary-light);
  border: 2px solid var(--secondary);
  color: var(--white);
  /* flex-grow: 1; */
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
  width: 50%;
}

.bar::placeholder {
  color: var(--white);
}

.bar:focus,
.bar:hover {
  background-color: var(--secondary);
  outline: 0;
}

/* Apply flex to the form */
.input-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}

.footer {
  background-color: #f26419;
  color: white;
  /* padding: 2px; */
  font-size: 33px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  height: 30%;
}
/* Add a media query to add more space between
the button and input when the browser is at least
600px wide */
/* @media (min-width: 600px) {
  button + button,
  input + button {
    margin-left: 1rem;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
